In [ ]:
%%bash
cd data
mkdir -p TGGATES
cd TGGATES

#wget -q -N ftp://ftp.biosciencedbc.jp/archive/open-tggates/LATEST/open_tggates_main.zip
#unzip -n open_tggates_main.zip

mkdir -p cel
cd cel

mkdir -p human/in_vitro
pushd human/in_vitro
sed 1d ../../../open_tggates_main.tab | cut -f 5 | grep -v '^$' > urls.txt
wget -q -N -i urls.txt
unzip -n '*.zip'
popd

mkdir -p rat/in_vitro
pushd rat/in_vitro
sed 1d ../../../open_tggates_main.tab | cut -f 6 | grep -v '^$' > urls.txt
wget -q -N -i urls.txt
unzip -n '*.zip'
popd

mkdir -p rat/liver
pushd rat/liver
sed 1d ../../../open_tggates_main.tab | cut -f 7 | grep -v '^$' > urls.txt
wget -q -N -i urls.txt
unzip -n '*.zip'
popd

mkdir -p rat/kidney
pushd rat/kidney
sed 1d ../../../open_tggates_main.tab | cut -f 9 | grep -v '^$' > urls.txt
wget -q -N -i urls.txt
unzip -n '*.zip'
popd

mkdir -p endpoints
pushd endpoints
echo ftp://ftp.biosciencedbc.jp/archive/open-tggates/LATEST/open_tggates_hematology.zip >> urls.txt
echo ftp://ftp.biosciencedbc.jp/archive/open-tggates/LATEST/open_tggates_biochemistry.zip >> urls.txt
wget -q -N -i urls.txt
unzip -n '*.zip'
popd

In [7]:
import pandas as pd

In [8]:
dat_main = pd.read_csv('data/TGGATES/open_tggates_main.csv',encoding='latin')

In [9]:
dat_main

,COMPOUND_NAME,COMPOUND_ABBREVIATION,COMPOUND_NO,Human - in vitro,Rat - in vitro,Rat - in vivo - Liver - Single,Rat - in vivo - Liver - Repeat,Rat - in vivo - Kidney - Single,Rat - in vivo - Kidney - Repeat
0,1% cholesterol + 0.25% sodium cholate,CH+DS-Na,00161,NaN,NaN,NaN,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,NaN,NaN
1,"2,4-dinitrophenol",DNP,00154,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,NaN,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,NaN,NaN
2,2-nitrofluorene,2NF,00160,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,NaN,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,NaN,NaN,NaN
3,3-methylcholanthrene,3-MC,00166,NaN,NaN,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,NaN,NaN,NaN
4,acarbose,ACA,00116,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,NaN,NaN
...,...,...,...,...,...,...,...,...,...
165,tunicamycin,TUN,00A02,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,NaN,NaN,NaN
166,valproic acid,VPA,00005,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...
167,venlafaxine,VLF,00172,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,NaN,NaN,NaN,NaN
168,vitamin A,VA,00059,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,NaN,NaN
169,WY-14643,WY,00030,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,ftp://ftp.biosciencedbc.jp/archive/open-tggate...,NaN,NaN

In [12]:
dat_main.to_csv('data/TGGATES/open_tggates_main.tab',sep='\t')